container_commands:
  00_remove_old_env:
    command: "sudo rm /tmp/.env.*"

  01_copy_env_staging:
    command: "sudo cp /tmp/.env /var/app/staging/.env"

  02_change_env_permission:
    command: "sudo chown -R webapp:webapp .env"

  03_install_node_dependencies:
    command: "sudo npm install"

  04_change_dependencies_permission:
    command: "sudo chown -R webapp:webapp node_modules/"

  05_build_node_assets:
    command: "sudo npm run build"

  06_change_next_permission:
    command: "sudo chown -R webapp:webapp .next/"